/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Enable dark mode support */
@layer base {
  html {
    background-color: white;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  html.dark {
    background-color: #111111;
    color: white;
  }
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
}

/* General styles for the card grid */
.card-grid {
  display: grid;
  gap: 15%; /* Adjust this for spacing between cards */
  grid-template-columns: repeat(4, 1fr); /* 4 columns for desktop */
  grid-auto-rows: auto;
  padding: 10px;
}

.card {
  position: relative;
  transition: transform 0.3s ease-in-out;
}

/* Hover effect */
.card:hover {
  transform: scale(1.1); /* Slightly enlarge on hover */
  z-index: 1; /* Ensure it overlaps other cards */
}

/* Responsive layout for mobile */
@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for mobile */
  }
}