/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Enable dark mode support with background fade */
@layer base {
  html {
    font-family: 'Inter', sans-serif;
    background-color: white;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  html.dark {
    background-color: #111111;
    color: white;
  }
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
}

/* Grid and card layout enhancements */
/*
.grid-container {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  gap: 2%;
  padding: 3%;
  width: 100%;
  margin: 0 auto 4rem auto;
  box-sizing: border-box;
}
  */

.member-section {
  margin-bottom: 4rem;
}

.member-title {
  font-size: 1.75rem;
  font-weight: 600;
  margin-left: 3%;
  margin-bottom: 1rem;
}

.card-hover {
  transition: transform 0.3s ease, z-index 0.3s ease, box-shadow 0.3s ease;
  z-index: 0;
}

.card-hover:hover {
  transform: scale(1.15);
  z-index: 10;
  box-shadow: 0 0px 15px rgba(161, 161, 161, 0.747);
}

.card-name {
  font-size: 1.0rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: .1;
  text-align: center;
}

.card-subname {
  font-size: 0.85rem;
  font-weight: 400;
  margin-top: 0.2rem;
  line-height: 1;
  text-align: center;
}


/* Member-based border colors */
.member-chisa {
  border: 2px solid #FFD700; /* Yellow */
}
.member-hinata {
  border: 2px solid #ADD8E6; /* Light Blue */
}
.member-jurin {
  border: 2px solid #A9A9A9; /* Grey */
}
.member-harvey {
  border: 2px solid #9370DB; /* Purple */
}
.member-juria {
  border: 2px solid #FFA500; /* Orange */
}
.member-maya {
  border: 2px solid #FF4500; /* Red */
}
.member-cocona {
  border: 2px solid #32CD32; /* Green */
}



/* ERA COLORS */
.era-mascara {
  color: #e74c3c; /* red */
}

.era-shootingstar {
  color: #3498db; /* blue */
}
.era-newdna {
  color: #9b59b6; /* purple */
}
.era-awe {
  color: #747cc4; /* blueish */
}
.era-wokeup {
  color: #f39c12; /* example orange */
}
.era-millionplaces {
  color: #2ef0f7; /* example orange */
}

.card-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(8, 1fr);
}

@media (max-width: 1200px) {
  .card-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 900px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 600px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 450px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.custom-select {
  font-family: 'Inter', sans-serif;
  background-color: rgb(25, 25, 26);
}